<div 
    class="table-responsive"
    [ngClass]="{ 'table-sticky table-sticky--height': datasource.length > 10 }"
>
    <table class="table tbl-grid m-0 head-no-rounded">
        <caption class="d-none">Tabla mantenimiento de estados de despacho</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Últ. modificación</th>
            </tr>
        </thead>
        <tbody *ngIf="!loading">
            <tr
                *ngFor="let item of datasource; index as i"
                [class]="'c-pointer tbl-row tbl-row-' + i"
                [ngClass]="{
                    active: item.idEstadoDespacho === itemId
                }"
                (click)="onSeleccionarFila(item)"
            >
                <td>{{ item.idEstadoDespacho }}</td>
                <td>{{ item.descripcion }}</td>
                <td>
                    <span
                        class="labels"
                        [ngClass]="{
                            'labels-activo': item.activo === true,
                            'labels-inactivo': item.activo === false
                        }"
                    >
                        <span class="labels_circle"></span>
                        <span>{{ item.estadoDsc }}</span>
                    </span>
                </td>
                <td>{{ item.fecCreacion }}</td>
                <td>{{ item.fecModificacion }}</td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="!loading && !totalItems">
        <agrihusa-no-results></agrihusa-no-results>
    </ng-container>

    <ng-container *ngIf="loading">
        <agrihusa-loading></agrihusa-loading>
    </ng-container>
</div>

<table-footer-pagination
    [totalItems]="totalItems"
    [totalItemsPerPage]="datasource.length"
    (changePaginate)="onChangePaginate($event)"
    [page]="page"
    [pageSize]="pageSize"
></table-footer-pagination>